.board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.board-section {
    /* flex: 4; */
    /* flex: 1 1 33.33%; */
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 25px;

}